<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block title %}{% endblock title %}
        <script src="https://js.stripe.com/basil/stripe.js"></script>
	</head>
    <body>
        {% block content %}{% endblock content %}
        <button id="buy_button">Buy</button>
        <script type="text/javascript">
            var stripe = Stripe("{{ public_key_stripe }}");
            var buyButton = document.getElementById('buy_button');
            {% block url %}{% endblock url %}
            buyButton.addEventListener('click', function() {
              fetch(url, {method: 'GET'})
              .then(response => response.json())
              .then(session => stripe.redirectToCheckout({ sessionId: session.session_id }))
            });
        </script>
    </body>
</html>
